{% load static %}

<header class="section-header">
    <nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop4">
                <ul class="navbar-nav mr-auto">
                    <li><span class="nav-link">Hi, <a href="{% url 'user-login-page' %}"> Sign in </a> or <a href="{% url 'user-register-page' %}"> Register </a></span>
                    </li>
                    <li><a href="#" class="nav-link"> Deals </a></li>
                    <li><a href="#" class="nav-link"> Sell </a></li>
                    <li><a href="#" class="nav-link"> Help </a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a href="#" class="nav-link"> <img src="{% static "images/icons/flags/US.png" %}" height="16"> Ship to </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Watchlist </a>
                        <ul class="dropdown-menu small">
                            <li><a class="dropdown-item" href="#">First item</a></li>
                            <li><a class="dropdown-item" href="#">Second item</a></li>
                            <li><a class="dropdown-item" href="#">Third item </a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-link"> My shop </a></li>
                    <li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>
                    <li><a href="#" class="nav-link"> <i class="fa fa-shopping-cart"></i> </a></li>
                </ul> <!-- list-inline //  -->
            </div> <!-- navbar-collapse .// -->
        </div> <!-- container //  -->
    </nav>









    <div class="container">
        <section class="header-main border-bottom">
            <div class="row row-sm">
                <div class="col-6 col-sm col-md col-lg  flex-grow-0">
                    <a href="" class="brand-wrap">
                        <img class="logo" src="{% static "images/logo.svg" %}">
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-6 col-sm col-md col-lg flex-md-grow-0">

                    <!-- mobile-only -->
                    <div class="d-md-none float-right">
                        <a href="#" class="btn btn-light"> <i class="fa fa-bell"></i> </a>
                        <a href="#" class="btn btn-light"> <i class="fa fa-user"></i> </a>
                        <a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i> 2 </a>
                    </div>
                    <!-- mobile-only //end  -->

                    <div class="category-wrap d-none dropdown d-md-inline-block">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"> Shop by
                        </button>
                        <div class="dropdown-menu">
                            {% for category in categories %}
                                <span class="dropdown-item"  style="display: inline-block;"><a href="{% url 'category-product' category_slug=category.slug %}">{{ category.name }}</a>
                                    {% for subcategory in subcategories %}
                                        {% if subcategory.category == category %}
                                            <a href="{% url 'subcategory-product' category_slug=subcategory.category.slug subcategory_slug=subcategory.slug %}">/{{ subcategory.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endfor %}
                        </div>
                    </div> <!-- category-wrap.// -->
                </div> <!-- col.// -->
                <div class="col-lg-6 col-xl col-md-5 col-sm-12 flex-grow-1">
                    <form action="#" class="search-header">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <select class="custom-select border-left" name="category_name">
                                <option value="">All type</option>
                                <option value="codex">Special</option>
                                <option value="comments">Only best</option>
                                <option value="content">Latest</option>
                            </select>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
                <div class="col col-lg col-md flex-grow-0">
                    <button class="btn btn-block btn-primary" type="submit"> Search </button>
                </div>
                <div class="col col-lg col-md flex-grow-0">
                    <button class="btn btn-block btn-light" type="submit"> Advanced </button>
                </div>
            </div> <!-- row.// -->
        </section> <!-- header-main .// -->


        <nav class="navbar navbar-main navbar-expand pl-0">
            <ul class="navbar-nav flex-wrap">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                {% for category in categories %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> {{ category.name }} </a>
                        <div class="dropdown-menu dropdown-large">
                            <nav class="row">
                                <div class="col-12">
                                    {% for subcategory in subcategories %}
                                        {% if subcategory.category == category %}
                                            <a href="#">{{ subcategory.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </nav> <!--  row end .// -->
                        </div> <!--  dropdown-menu dropdown-large end.// -->
                    </li>
                {% endfor %}
            </ul>
        </nav> <!-- navbar-main  .// -->

    </div> <!-- container.// -->
</header>