{% extends "base.html" %}

{% load static %}

{% block main %}

<section class="section-content padding-y">
    
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    {% for category in categories %}
                        <li class="breadcrumb-item"><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>

            <div class="row">
                <aside class="col-md-2">
                    <article class="filter-group">
                        <h6 class="title">
                            <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">
                                Product type </a>
                        </h6>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="inner">
                                <ul class="list-menu">
                                    {% for category in categories %}
                                        <li><a href="">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="filter-group">
                        <form action="">
                            <div class="filter-content collapse show" id="collapse_3">
                                <div class="inner">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input class="form-control" name="min" value="{{ request.GET.min }}" placeholder="0" type="number">
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input class="form-control" name="max" value="{{ request.GET.max }}" placeholder="{{ max_price.price }}" type="number">
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-primary">Filter</button>
                                </div>
                            </div>
                        </form>
                    </article>

                    <article class="filter-group">
                        <h6 class="title">
                            <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5">
                                Condition
                            </a>
                        </h6>
                        <div class="filter-content collapse show" id="collapse_5">
                            <div class="inner">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Any condition</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Brand new </div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Used items</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Very old</div>
                                </label>
                            </div>
                        </div>
                    </article>
                </aside>
               
                <main class="col-md-10">
                    {% if products_len > 0 %}

                    <header class="mb-3">
                        <div class="form-inline">
                            <strong class="mr-md-auto">{{ products_len }} Items found </strong>
                            <select class="mr-2 form-control">
                                <option>Latest items</option>
                                <option>Trending</option>
                                <option>Most Popular</option>
                                <option>Cheapest</option>
                            </select>
                            <div class="btn-group">
                                <a href="" class="btn btn-light" data-toggle="tooltip" title="List view">
                                    <i class="fa fa-bars"></i></a>
                                <a href="" class="btn btn-light active"data-toggle="tooltip" title="Grid view"> <i class="fa fa-th"></i></a>
                            </div>
                        </div>
                    </header>
                    {% for store_product in paginator_products.object_list %}
                        <article class="card card-product-list">
                            <div class="row no-gutters">
                                <aside class="col-md-3">
                                    <a href="{% url 'product-detail' store_product.id store_product.slug %}" class="img-wrap">
                                        {% if store_product.is_new_product %}
                                            <span class="badge badge-danger"> NEW </span>
                                        {% endif %}
                                        <img src="{% get_media_prefix %}{{ store_product.image }}">
                                    </a>
                                </aside>
                                <div class="col-md-6">
                                    <div class="info-main">
                                        <a href="#" class="h5 title">{{ store_product.name }}</a>
                                        <div class="rating-wrap mb-2">
                                            <ul class="rating-stars">
                                                <li style="width:{{ store_product.get_rating_precent }}%"
                                                    class="stars-active">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                            <div class="label-rating">/10</div>
                                        </div> <!-- rating-wrap.// -->

                                        <p class="mb-3">
                                            <span class="tag"> {{ store_product.is_new_product }} </span>
                                            <span class="tag"> 80 reviews </span>
                                            <span class="tag"> Russia </span>
                                        </p>

                                        <p>{{ store_product.description | truncatechars:230 }}</p>

                                    </div> <!-- info-main.// -->
                                </div> <!-- col.// -->
                                <aside class="col-sm-3">
                                    <div class="info-aside">
                                        <div class="price-wrap">
                                            <span class="h5 price">{{ store_product.price }} So'm<span>
                                                    <small class="text-muted">/dona</small>

                                                    <p class="text-muted mt-3">Grand textile Co</p>
                                                    <p class="mt-3">
                                                        <a href="#" class="btn btn-outline-primary"> <i
                                                                class="fa fa-envelope"></i>Contact supplier </a>
                                                    </p>

                                                    <label class="custom-control mt-3 custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <div class="custom-control-label">Add to compare</div>
                                                    </label>

                                        </div> <!-- info-aside.// -->
                                </aside>
                            </div>
                        </article>
                    {% endfor %}


                    <nav class="mb-4" aria-label="Page navigation sample">
                        <ul class="pagination">
                            <li class="page-item {% if not paginator_products.has_previous %} disabled {% endif %}"><a class="page-link" href="{% if query_string %}{{ request.get_full_path }}&{% else %}?{% endif %}page=1">&laquo; First</a></li>
                            {% if paginator_products.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% if query_string %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{ paginator_products.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            {% for num in pages.page_range  %}
                                <li class="page-item {% if num == paginator_products.number %}active{% endif %}"><a class="page-link" href="{% if query_string %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{ num }}">{{ num }}</a></li>
                            {% endfor %}
                            {% if paginator_products.has_next %}
                                <li class="page-item"><a class="page-link" href="{% if query_string %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{paginator_products.next_page_number}}">Next</a></li>
                            {% endif %}
                            <li class="page-item {% if not paginator_products.has_next %} disabled {% endif %}"><a class="page-link" href="{% if query_string %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{ paginator_products.paginator.num_pages }}">Last &raquo;</a></li>  
                        </ul>
                    </nav>
                    {% else %}
                        <section class="section-content padding-y">
                            <div class="container">
                                <header class="section-heading">
                                    <h2 class="section-title">Mahsulot topilmadi</h2>
                                </header>
                                <article>
                                    <p>Iltimos qidiruvni davom ettirish uchun <a href="{% url 'store' %}">mahsulotlar</a> qatoriga qayting</p>
                                </article>
                            </div>
                        </section>
                    {% endif %}
                </main>
            </div>
        </div>
</section>
     
{% endblock main %}